Administration View Poll
<div id="current-tally"></div>
<br>
<% if(poll.status === "closed"){ %>
  Poll is closed
<%} else{ %>
  <%- link_to('Link to Poll', '/polls/' + data.id)%>
  <form action="/admin-view" method="post">
    <input id="close-poll" type="submit" value="Close Poll"></div>
  </form>
<%}%>

<body>
  <!-- Make sure your JS is at the bottom of the body! -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/client.js"></script>
</body>
