Your Past Polls
<div id="past-polls"></div>
<body>
  <!-- Make sure your JS is at the bottom of the body! -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/past-views.js"></script>
</body>
